*{
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.home-section-row{
  padding-top: 50px;
  padding-bottom: 50px;
}

header{
  height: 66px;
  border-bottom: 1px solid black;
}

/* ヘッダー */

.logo {
  width: 130px;
  margin-top: 20px;
  height: 30px;
}

.header-left {
  float: left;
}

/* トップメッセージ */

.top-message-content{
  margin-top:30px;
  padding-top: 80px;
  padding-bottom: 50px;

}

.input-group{
  width:300px;
}

.form-control{
  display: block;
  float: left;
  border-top-left-radius : 8px;
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-bottom-left-radius : 8px;
	-webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;

  border-top-right-radius : 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-bottom-right-radius : 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
}

.btn-add{
  background-color :#3da9fc;
  display: inline-block;
  height: 38px;

  border-top-left-radius : 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-bottom-left-radius : 0px;
	-webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;

  border-top-right-radius : 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	border-bottom-right-radius : 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
}


.btn-add p{
  color:white;
}

.p-remind{
  margin-top: 15px;
  margin-bottom: 30px;
}

/* home-section 1*/

.home-section-contents h1{
  font-size: 22px;
}

.home-section-contents p{
  margin-top:10px;
  margin-bottom: 30px;
}

.card-header{
  background-color:white;
}

.category-badge{
  background-color:#cccccc;
  color:white;
  padding: 5px;
}

.btn-card{
  border-radius: 8px;
  background-color:#3da9fc;
  color:#FFFFFF !important;
}

.tool-card{
  margin-top: 30px;
}

.tool-card:hover{
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
}

.btn-card:hover{
  background-color: #3da9d2;
}

.card-logo-image{
  border-radius: 6px;
}

.card-body h4{
  margin-top: 10px;
  font-weight: bold;
}

.tool-card-badge{
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #5f6c7b;
  color: white;
  padding:6px;
}



/* home-section 2*/
.category-card{
  margin-top: 24px;
}

.category-card-image{
  height: 135px;
  width: 100%;
  object-fit: cover;
}

.category-card:hover{
box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
}

.category-card h3{
  font-weight: bold;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  padding: 16px;
}

/* home-section 4*/
.list-card{
  margin-top: 20px;
}

.collections-box-img:hover{
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
}

.text-blue{
  color: #3DA9FC;
}

.list-card h3,p{
  color: black;
}

.list-card h3{
  font-size: 21px;
  margin-top: 5px;
}

.collections-box-img{
  object-fit: cover;
  width: 100%;
  height: 135px;
}

.go-to-market h3{
  margin-bottom : 10px;
  font-size: 20px;
}

.go-to-market{
  padding-top: 100px;
  padding-bottom: 100px;
}

.markets{
  margin: 15px;
}

footer{
  background-color:#d8eefe;
  height: 160px;
  padding:  30px;
}

.copyright{
  color:white;
}

/*モーダル*/
.modal-wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 40px 10px;
  text-align: center
}

.modal-wrapper:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.modal-wrapper:target {
  opacity: 1;
  visibility: visible;
  transition: opacity .4s, visibility .4s;
}

.modal-wrapper::after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  vertical-align: middle;
  content: ""
}

.modal-wrapper .modal-window {
  box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  position: relative;
  width: 70%;
  max-width: 600px;
  padding: 30px 30px 15px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .6);
  vertical-align: middle
}

.modal-wrapper .modal-window .modal-content {
  max-height: 80vh;
  overflow-y: auto;
  text-align: left
}

.modal-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .8)
}

.modal-wrapper .modal-close {
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  color: #95979c !important;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-indent: 0
}

.modal-wrapper .modal-close:hover {
  color: #2b2e38 !important
}